.char::before{
    content: '';
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 61px;
    height: 80px;
}

img {
    max-width: 100%;
    height: auto;
}

.weapon::before{
    content: '';
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}
.augments::before{
    content: '';
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    width: 64px;
    height: 64px;

}

.buff::before{
    content:'▲';
    color :red;
}
.burf::before{
    content:'◆';
    color :gray;
}

.nerf::before{
    content:'▼';
    color :dodgerblue;
}

header{
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
    background-color: #222222;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    color:white;
    background-color: black;
}
.patch{
    text-align: left;
    padding: 5%;
}
.sidebar_fixed {
    position: sticky;
    top: 60px;
}
  .sidebar_content {
    margin-bottom: 100px;
}